node_modules
.next
out
dist
coverage

.env
.env.local
.env.*.local

.DS_Store
*.log

prisma/migrations/dev.db*
prisma/dev.db
prisma/dev.db-journal

public/renders/

# TypeScript incremental build cache
tsconfig.tsbuildinfo
